.header__logo {
    width: 131px;
  }

  .footer__logo {
    padding: 64px 0 44px 0;
    width: 131px;
    margin: 0 auto;
  }
  
  .logo {
    display: block;
  }
  
  .logo__img {
    display: block;
    max-width: 100%;
  }