.footer {
    background-color: $white;
    box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.15);
}

.footer__socials {
    padding: 24px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
}

.footer__copyright {
    padding: 32px 0;
    @include font(13px, 2);
    color: #9c9c9c;
    text-align: center;
    text-transform: uppercase;
}

.footer__copyright-accent {
    color: $black;
}