.intro {

    .container {
        @extend %clearfix;
    }

    padding: 117px 0 120px 0;
    background: url('../images/about-intro-background.png') 0 0 no-repeat;
    background-size: cover;
}

/* about us */
.about-us {
    padding: 72px 0 0 0;
}

.about-us__pic {
    float: left;
    width: 531px;
}

.about-us__img {
    max-width: 100%;
}

.about-us__content {
    float: right;
    width: 546px;
}

.about-us__header {
    margin-bottom: 28px;
    @include font(18px, 1.33);
    @include roboto(light);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.about-us__story {
    margin-bottom: 36px;
}

.about-us__story-text {
    margin-bottom: 35px;
    @include font(14px, 2.14);
    @include roboto(regular);
    color: #777;

    &:last-of-type {
        margin-bottom: 0;
    }

}

/* skills */
.skills__item {
    margin-bottom: 22px;

    &:last-of-type {
        margin-bottom: 0;
    }

}

.skills__header {
    @include font(16px, 1.4);
    @include roboto(bold);
    color: #2f302f;
}

.skills__diagram {
    margin-top: 13px;
    width: 100%;
    height: 10px;
    padding: 4px 0 4px 3px;
    background-color: #ebebeb;
}

.skills__index {
    position: relative;
    height: 2px;
    background-color: #a1a1a1;
}

.skills__index_photoshop {
    width: 90%;
}

.skills__index_branding {
    width: 95%;
}

.skills__index_photography {
    width: 50%;
}

.skills__index_design {
    width: 85%;
}

.skills__index-control {
    position: absolute;
    left: 98%;
    top: -5px;
    @include flex-align();
    width: 12px;
    height: 12px;
    background-color: $black;
    border-radius: 50%;

    &::before {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $white;
  }

}

.skills__index-tooltip {
    position: absolute;
    left: 97%;
    top: -41px;
    width: 40px;
    height: 21px;
    @include font(12px, 21px);
    text-align: center;
    color: $white;
    background: $black;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 4px solid $black;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid $black;
    }

}

/* team */
.team {
    padding: 95px 0 76px 0;
}

.team__title {
    width: 600px;
    margin: 0 auto 63px auto;
    text-align: center;
}

.team__header {
    margin-bottom: 30px;
    @include font(30px, 1.4);
    @include roboto(light);
    text-transform: uppercase;
    letter-spacing: 10px;
}

.team__desc {
    @include font(14px, 2.14);
    color: #777;
}

.team__items {
    margin: 0 -15px;
}

.team__item {
    display: inline-block;
    width: 33.1%;
    font-size: 0;
}

.team__item-wrap {
    padding: 0 15px;
}

.team__pic {
    width: 100%;
}

.team__img {
    max-width: 100%;
}

.team__item-bottom {
    padding: 33px 39px 29px 35px;
    background-color: $white;
}

.team__name {
    margin-bottom: 5px;
    @include font(24px, 1);
    @include roboto(light);
    color: #041608;
    text-transform: uppercase;
}

.team__position {
    margin-bottom: 17px;
    @include font(16px, 1.4);
    @include roboto(bold);
    color: #777;
}

.team__position-desc {
    @include font(14px, 1.71);
    color: #9c9c9c;
}